html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark-purple: #030b73;
  --bright-blue: #2bc7ff;
}

.container{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.card{
border: 5px solid var(--dark-purple)
}

.song-name{

}

.song-image{

}
